<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="cb3fa1de-af91-45d1-af4e-f5e4cb6c3dcd" />
        <add key="ApiClient.ClientSecret" value="lW1gP7cE4uN7oX7aJ6eD3bR7iO2jB7iP3qS1iP5mD4pU4sR7dS" />
        <add key="ApiClient.RedirectUri" value="https://localhost:44300/Home/FinishAuth" />
        <add key="ApiClient.AccessToken" value="u5OAF36SAtMHSU0IiZDIP29pqqwK" />
        <add key="ApiClient.RefreshToken" value="asvebYvjRyRv6XYyA82Opc4BaKL6CaajPtySvQKXJK" />
        <add key="ApiClient.ExpirationDateTime" value="2018-05-02T11:13:43.2921093-05:00" />
    </appSettings>
</configuration>
