<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="32aa1d39-4b62-460b-8f48-3fb3dc00c5c7" />
        <add key="ApiClient.ClientSecret" value="S4nM1gL3cO0eA4xD7vN6yH7dX4pL8gM2mO3uK2iF1gX6bM2bK2" />
        <add key="ApiClient.RedirectUri" value="https://localhost:44300/Home/FinishAuth" />
        <add key="ApiClient.AccessToken" value="cVXvaB2dKzDFLSvdCOACb3lnKEGB" />
        <add key="ApiClient.RefreshToken" value="qkDQMWu59bCl9Qg3a2fi0BpU45BZPglz9nbk5fIkwA" />
        <add key="ApiClient.ExpirationDateTime" value="2018-05-01T19:33:16.1210406-05:00" />
    </appSettings>
</configuration>
