<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="9b902e2c-15be-4d1d-afdc-c6c5f23588b1" />
        <add key="ApiClient.ClientSecret" value="K3xJ6jV2kK1gN4tT3gG5jL1tV0kE1iT5hO7iD4xQ7bT8fA4rH2" />
        <add key="ApiClient.RedirectUri" value="https://localhost:44300/Home/FinishAuth" />
        <add key="ApiClient.AccessToken" value="fAO8v6MgMc5tbeS0PLXRvsZGk224" />
        <add key="ApiClient.RefreshToken" value="rHmk93TCjcjUYjou8AYeOKxwK4NLBNygMjDRkOlYqE" />
        <add key="ApiClient.ExpirationDateTime" value="2018-01-09T14:43:16.4752055-06:00" />
    </appSettings>
</configuration>