<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings file="">
        <clear />
        <add key="WebApi.ClientId" value="9b902e2c-15be-4d1d-afdc-c6c5f23588b1" />
        <add key="WebApi.ClientSecret" value="K3xJ6jV2kK1gN4tT3gG5jL1tV0kE1iT5hO7iD4xQ7bT8fA4rH2" />
        <add key="WebApi.RedirectUri" value="https://localhost:44300/Home/FinishAuth" />
        <add key="WebApi.AccessToken" value="6NpHj1v0vof9FkiLSSmtV3VhZJnB" />
        <add key="WebApi.RefreshToken" value="oAplb2RsVF8nYXi1vK4GmOGPZS0J04VlYB7R5e6Ogo" />
        <add key="WebApi.ExpirationDateTime" value="2017-11-07T12:50:37.3679302-06:00" />
    </appSettings>
</configuration>