@model DigiKey.AspNetOAuth2Sample.WebApp.ViewModels.KeywordSearchRequestViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>
    &nbsp;
</h2>
<div id="edit" class="col-md-12">
    @using (Html.BeginForm("DoSearch", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">OAuth2 Settings</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="panel panel-default ">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title"></h3>
                                        <table class="table">
                                            <tr>
                                                <td style="width: 160px;">
                                                    <label>
                                                        Keywords :
                                                    </label>
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.Keywords, new { @class = "col-md-11", @id = "Keywords" })
                                                    @Html.ValidationMessageFor(model => model.Keywords)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        Record Count:
                                                    </label>
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RecordCount, new { @class = "col-md-11", @id = "RecordCount" })
                                                    @Html.ValidationMessageFor(model => model.RecordCount)
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="row">
                                <button class="btn btn-primary" type="submit" name="submitButton" value="DoSearch">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
>
