<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="WebApi.ClientId" value="9b902e2c-15be-4d1d-afdc-c6c5f23588b1" />
        <add key="WebApi.ClientSecret" value="K3xJ6jV2kK1gN4tT3gG5jL1tV0kE1iT5hO7iD4xQ7bT8fA4rH2" />
        <add key="WebApi.RedirectUri" value="https://localhost:44300/Home/FinishAuth" />
        <add key="WebApi.AccessToken" value="boijsTrJDTGl2fxEFOqNdkeucVEf" />
        <add key="WebApi.RefreshToken" value="V8FriGqWClOpVpsRfsMYymtrbLQJYimshIqAvrUZ02" />
        <add key="WebApi.ExpirationDateTime" value="2017-11-3T10:46:20.7102709-05:00" />
    </appSettings>
</configuration>
