<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
    </configSections>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
                <arg key="level" value="ALL" />
                <arg key="showLogName" value="true" />
                <arg key="showDataTime" value="true" />
                <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
                <arg key="configType" value="FILE" />
                <arg key="configFile" value="~/NLog.config" />
            </factoryAdapter>
        </logging>
    </common>

    <appSettings>
        <add key="DigiKeyClientId" value="9b902e2c-15be-4d1d-afdc-c6c5f23588b1" />
        <add key="DigiKeyClientSecret" value="K3xJ6jV2kK1gN4tT3gG5jL1tV0kE1iT5hO7iD4xQ7bT8fA4rH2" />
        <add key="DigiKeyOAuth2RedirectUri" value="https://localhost:44300/Home/FinishAuth" />
        <add key="AccessToken" value="AgIHELTlSlDIV1odKHqgjbnlBhU9" />
        <!--<add key="AccessToken" value="rDVBXN4EE2NLaYIFCwsgqL54Wz11" />-->
        <add key="RefreshToken" value="yyQaXp5x2f1gGJAYQNPsdPK9wPrXLVttVD8AKlPJ6s" />
        <add key="ExpiresIn" value="10/21/2017 1:33:51 PM" />
    </appSettings>
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>